/* VARIABLES */

@side_padding : 10px;
@container_width : 1200px;

@breakpoint_mobile : 768px;
@breakpoint_tablet : 900px;
@breakpoint_small  : 1024px;
@breakpoint_big    : 1200px;

@grid_gutter : 20px;

@primary_font : 'sans-serif';
@secundary_font : 'sans-serif';
@base_font_size : 16px;

@blue : #1E7198;
@red : #B63426;
@grey : #F4F7F8;



/* IMPORTS */

@import "snippets.less";
@import "typo.less";
@import "buttons.less";
@import "forms.less";
@import "nav.less";
@import "slider.less";



/* YOUR CODE */

body {
	
}

.container {
	max-width: @container_width;
	margin: 0 auto;
}

@media (min-width: @breakpoint_mobile) {

	.pure-g-padding > div {
		.border-box();
		padding-left: @grid_gutter;
		padding-right: @grid_gutter;
	}

}
